<html>
  <body>
    <div>
        <p>Dear <%= name %>,</p>
        <p>
            Great news! A contribution has been made to your campaign, <%= title %>.
            This generous donation brings you one step closer to achieving your fundraising goals.
        </p>
        <p>
            someone has contributed <%= amount %> to your campaign. Be sure to send them a thank you and keep your supporters updated with your progress.
        </p>
        <p>
            You can view the contribution details and track your campaign's performance in your dashboard. Keep up the great work, and we look forward to seeing the impact of your efforts!
        </p>
        <p>Best regards,</p>
        <p>Support</p>
        <p>Grav.id</p>
        <p>
            P.S. Occasionally this email might land in promotions or spam. Please add us to your contacts and drag our emails into your primary inbox to ensure you don’t miss any updates!
        </p>
        
      <%- include('footer'); -%>
    </div>
  </body>
</html>
